.heading{
  font-size: 24px;
  color: blueviolet;
}

.label{
  font-size: 24px;
  display: inline-block;
  width: 225px;
}

.input{
  width: 250px;
  font-size: 24px;
}

.space{
  margin-top: 10px;
}

.form-content{
  border: 1px solid;
  padding-left: 22vw;
  padding-top: 15px;
  padding-bottom: 15px;
}

.button{
  font-size: 20px;
    margin-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
    /* background-color: cornflowerblue;
    color: white; */
}

.link{
  margin-left: 25px;
}

.row{
  display: flex;
  flex-direction: row;
}

.section{
  margin-left: 25px;
  margin-bottom: 10px;
}

.form-label{
  display: inline-block;
  width: 150px;
}

.form-label-big{
  display: inline-block;
  width: 200px;
}

#customers {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

#customers td, #customers th {
  border: 1px solid #ddd;
  padding: 8px;
}

#customers tr:nth-child(even){background-color: #f2f2f2;}

#customers tr:hover {background-color: #ddd;}

#customers th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #04AA6D;
  color: white;
}