.flex-container{
  display: flex;
  height: 300px;
  border: 3px solid blue;
  flex-direction: row;
  justify-content: center;  /* Align the child content in X direction (left to right) */
  align-items: center; /* Align the child content in Y direction (top to bottom) */
}

.flex-item{
  width: 250px;
  height: 150px;
  border: 3px solid black;
}

.align-self{
  align-self: flex-start; /* Align the child content in Y direction (top to bottom) */
}

.main-box{
    height: 100px;
    margin-top: 20px;
    display: flex;
    flex-direction: row;
}

.box-1{
  width: 45%;
  height: 100%;
  box-sizing: border-box;
}

.box-2{
  width: 10%;
  height: 100%;
  box-sizing: border-box;
}

.box-3{
  width: 45%;
  height: 100%;
  box-sizing: border-box;
}

.line{
  margin-top: 36px;
}

.text{
  text-align: center;
}