.box-1{
  height: 200px;
  background-color: aquamarine;
  width: 500px;
}

.box-2{
  background-color: rgb(215, 0, 0);
  height: 25vh;
  width: 50vw;
}

.percentage{
  background-color: black;
  width: 50%;
  height: 100%;
}

.text{
  color : white;
}

.border{
  border-style: solid;
  border-color: #e91e63;
}